<div class="grid grid-cols-1 md:grid-cols-2 gap-6 px-8">
    <!-- Card 1 -->
    <div class="bg-light-text rounded-lg shadow-lg p-8 flex flex-col items-center">
        <img src="/assets/team.png" alt="Equipe Capacitada" class="rounded-md">
        <h2 class="text-xl font-bold mt-4 text-primary-text">Equipe Capacitada</h2>
        <p class="text-gray-700 mt-2">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna.
        </p>
    </div>

    <!-- Card 2 -->
    <div class="bg-light-text rounded-lg shadow-lg p-8 flex flex-col items-center">
        <img src="/assets/team2.png" alt="Seus Projetos Guiados Do Zero" class="rounded-md">
        <h2 class="text-xl font-bold mt-4 text-primary-text">Seus Projetos Guiados Do Zero</h2>
        <p class="text-gray-700 mt-2">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna.
        </p>
    </div>
</div>