<footer class="bg-gray-50 py-4 px-8 border-t border-gray-200">
    <div class="max-w-7xl mx-auto px-4 flex items-center justify-between">
      <!-- Logo -->
      <div class="flex items-center space-x-2">
        <img src="/assets/logo2.png" alt="Logo" class="w-8 h-8">
        <span class="text-lg font-semibold text-gray-800">LOGO</span>
      </div>
  
      <!-- Redes sociais -->
      <div class="flex space-x-4">
        <a href="https://github.com/chrisbmineiro" class="text-gray-800 hover:text-gray-600">
          <i class="fab fa-github text-3xl"></i>
        </a>
        <a href="https://www.linkedin.com/in/chrisbmineiro" class="text-gray-800 hover:text-gray-600">
          <i class="fab fa-linkedin-in text-3xl"></i>
        </a>
      </div>
    </div>
  </footer>
